/* General styles */
body {
    /* align-items: center; */
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #ffffff;
    font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    color: #2B3A67;
    font-weight: 700;
}

h2 {
    font-size: 300%;
    margin: 0 0 10px 0;
}

p,
li {
    font-size: larger;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}



.cta-button {
    background-color: #4B4696;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.cta-button:hover {
    background-color: #6B679E;

}

/* Header */
header {
    color: #D1CFE1;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    z-index: 1000;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: transparent;
}


.nav-menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-menu li a {
    color: #D1CFE1;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
}


.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 30px;
    color: #2B3A67;
    cursor: pointer;
}

/* Estilos del menú desplegable */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 150px;
    z-index: 1;
}

.dropdown-content a {
    padding: 10px;
    display: block;
    color: white;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: transparent;
}

ul li:hover .dropdown-content {
    display: block;
}


/*hero*/
.hero {
    background-position: center;
    background-color: #4B4696;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-align: center;
}

.hero img {
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: contain;
}



.hero-content p {
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    margin-bottom: 20px;

}


/* Introduction Section */
.introduction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0;
    background-color: #F7F3E2;
}

.intro-image {
    width: 100%;
}

.intro-image img {
    width: 100%;
    border-radius: 10px;
}

.intro-text {
    width: 100%;
    padding-left: 20px;
    text-align: justify;
}

.intro-text h2 {
    font-size: 2.5em;
    text-align: center;
}

.intro-text p {
    font-size: 1.5em;
}


/* Call to Action */
.call-to-action {
    background-color: #6B679E;
    text-align: center;
    padding: 100px 20px;
    color: white;

}

.call-to-action h2 {
    font-size: 3em;
    color: white;
}

.call-to-action p {
    font-size: 2em;
    color: white;
}

.call-to-action .cta-button {
    background-color: #e5d2a0;
    font-size: 2em;
}

.call-to-action .cta-button:hover {
    background-color: #2F2F2F;
    text-decoration: none;
    color: white;
}

/* News Section */

/*nOVEDADES CARRUSEL*/
.seccion-titulo {
    text-align: center;
}

.novedades-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    padding: 10px 0;
}

.novedad {
    position: relative;
    overflow: hidden;
    width: calc(30%);
    min-width: 300px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.novedad img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.novedad h3 {
    color: #D1CFE1;
}

.novedad-texto {
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 5px;
    font-size: 24px;
    width: calc(100% - 60px);
    text-align: justify;
}

.btn-leer-mas {
    display: inline-block;
    margin-top: auto;
    padding: 15px 25px;
    background-color: #4B4696;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 20px;
    border-color: transparent;
}

.btn-leer-mas:hover {
    background-color: #D1CFE1;
    color: #4B4696;
}

.novedad-publicacion-texto {
    bottom: 30px;
    left: 30px;
    color: #2F2F2F;
    padding: 20px;
    border-radius: 5px;
    font-size: 24px;
    width: calc(100% - 60px);
}

.novedad-publicacion-texto h3 {
    color: #4B4696;
    font-size: 200%;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 40px;
    color: #2812c7;
    border: none;
    z-index: 10;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}





/*FIN CARRUSEL*/


/*que hacemos*/

.seccion-interna-body {
    background-color: #4B4696;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 100vh; */
}

.btn-actividades {
    text-align: right;
}

.btn-bio {
    display: inline-block;
    margin-top: auto;
    padding: 15px 25px;
    background-color: white;
    color: #4B4696;
    text-decoration: none;
    border-radius: 5px;
    font-size: 20px;
    border-color: transparent;
    text-align: right;

}

.seccion-interna h1 {
    color: #ffffff;
    font-size: 5rem;
    z-index: 2;

}

.seccion {
    text-align: center;
    margin: 50px 50px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 75%;
}

.image-text-section {
    display: flex;
    justify-content: center;
}


.image-container {
    display: flex;
    padding-right: 20px;
    height: auto;
    justify-content: center;
    align-items: center;
}

.section-image {
    height: auto;
    border-radius: 10px;
    max-width: 400px;
}

.image-text-section svg {
    max-width: 400px;
}

.text-container {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-right: 20px;
    text-align: justify;
}


/* seccion-nterna-detalle */

/*seccion actividad detalle*/

.actividad-detalle-contenedor {
    margin: 100px 200px;
    position: relative;
    width: auto;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    flex-direction: column;

}

.actividad-detalle-contenedor-izquierdo {
    display: flex;
    text-align: left;
    align-items: flex-start;
}

.actividad-detalle-imagen {
    max-width: 50%;
    height: auto;
    margin: 0px 20px 20px;
    float: left;
}

.actividad-detalle-texto {
    text-align: left;
}

.actividad-detalle-carousel {
    margin-top: 20px;
    padding: 10px;
    background-color: #e0e0e0;
}

/* .carousel-inner {
    transition: transform 0.6s ease-in-out; 
} */



/* *********/

.carousel-item.inicio-item {
    height: auto;

}

/* Ajuste de las imágenes del carrusel */
.carousel-item.inicio-item img {
    object-fit: cover;
    width: 100%;
    border-radius: 15px 15px 0 0;
    border-radius: 15px 15px 0
}



/*******************/


.carousel-item {
    height: 700px;
}

.carousel-item img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
    justify-content: center;
}



/* Footer */
footer {
    background-color: #2F2F2F;
    color: white;
    text-align: center;
    display: flex;
    width: 100%;
}

.social-media-links i {
    color: white;
}

footer .social-icons {
    color: white;
}

footer .social-icons {
    width: 24px;
    height: 24px;
}

footer a {
    color: white;
    padding: 30px;
}

footer a:hover {
    color: white;
    text-decoration: none;
}

/* DONACIONES */


/* Estilo General */
.seccion-donaciones {
    padding: 50px 20px;
    background-color: transparent;
    height: 75vh;
}

.contenedor-donaciones {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}







.columna p {
    margin-bottom: 15px;
    line-height: 1.6;
    color: #D1CFE1;
}

/* Formulario */
.formulario-donaciones .campo-formulario {
    margin-bottom: 20px;
}

.formulario-donaciones label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.formulario-donaciones select,
.formulario-donaciones input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.formulario-donaciones .btn-donar {
    background-color: #D1CFE1;
    color: #4B4696;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.formulario-donaciones .btn-donar:hover {
    background-color: #2F2F2F;
    text-decoration: none;
    color: white;
}

.campo-formulario label {
    color: #D1CFE1;
}

/* Campo oculto */
.campo-formulario.oculto {
    display: none;
}



/*test mosaico cv*/


.section-cv-titulo {
    color: white;
    text-align: center;
}

.section-cv {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 50px;
    padding: 10px;
    text-align: center;
    justify-content: center;
}


.mosaico-cv {
    text-align: center;
}


.cv-integrante {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    align-items: center;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    min-height: 500px;

    position: relative;
}

.foto-circular {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    margin: 10px 50px 10px 50px;
    background-color: white;
    border: none;
}

.cv-integrante h3 {
    margin: 10px 0 5px;
    font-size: 2rem;
    color: white;
}


.cargo {
    margin: 10px 0 10px;
    font-size: 1.5em;
    color: #D1CFE1;
}

.leer-bio {
    margin-top: auto;

    padding: 15px 25px;
    background-color: #D1CFE1;
    color: #4B4696;
    text-decoration: none;
    border-radius: 5px;
    font-size: 20px;
    border-color: transparent;


}

.leer-bio:hover {
    background-color: #D1CFE1;
    color: #4B4696;
}



/*cv test*/

.bio-content {
    display: flex;
    width: 100%;
    flex-grow: 1;
    text-align: justify;
    justify-content: center;
    align-items: center;
}


.bio-titulo{

    /* padding-top: 100px; */
}
.bio-content-text {
    width: 100%;
    text-align: justify;
    justify-content: center;
    align-items: center;
}

.bio-content h2 {
    color: #D1CFE1;
}

.bio-content h3 {
    color: #D1CFE1;
}

.bio-image {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin: 5%;
    margin-right: 7%;
    background-color: white;
}

/*  CONTACTO */
/* Estilo General */
.seccion-contacto {
    padding: 50px 20px;
    background-color: transparent;
}

.contenedor-contacto {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.columna {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.columna.izquierda {
    border-right: 1px solid #ddd;
}

.columna h2 {
    margin-bottom: 20px;
    color: #D1CFE1;
}

.informacion-contacto {
    list-style: none;
    padding: 0;
}

.informacion-contacto li {
    margin-bottom: 15px;
    font-size: 18px;
}

.informacion-contacto span {
    color: #D1CFE1;
}

.informacion-contacto .icono {
    margin-right: 10px;
    color: #D1CFE1;
}

.informacion-contacto a {
    text-decoration: none;
    color: #D1CFE1;
}

.informacion-contacto a:hover {
    text-decoration: underline;
}

/* Formulario */
.formulario-contacto .campo-formulario {
    margin-bottom: 20px;
}

.formulario-contacto label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #D1CFE1;
}

.formulario-contacto input,
.formulario-contacto textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.btn-enviar {
    background-color: #D1CFE1;
    color: #4B4696;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-enviar:hover {
    background-color: #2F2F2F;
    text-decoration: none;
    color: white;
}

.seccion-interna-bio {
    background-color: #4B4696;
    display: grid;
    place-items: center;
    color: #D1CFE1;
}



.bio-section {
    display: flex;
    flex-direction: column;
    max-width: 75%;
    justify-content: center;
    margin: 20px;
    padding: 10px;
}



@media (max-width: 768px) {
    .menu-toggle {
        display: block;

        right: 0;
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 10;
    }

    .nav-menu.show {
        display: flex;
        background-color: rgba(0, 0, 0, 0.7);
    }

    .three-column,
    .news-grid {
        flex-direction: column;
    }

    .column,
    .news-item {
        width: 100%;

    }

    .novedad {
        width: calc(100% - 20px);

    }


    .publicacion,
    .novedad-publicacion-texto,
    .novedades-container {
        max-width: 100%;

    }


    .hero {
        height: 50vh;
        width: 100%;
    }




    .image-text-section {
        display: flex;
        flex-direction: column;


        padding: 10px;
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 10px;
        object-fit: contain;

    }

    /* Contenedor de la imagen */
    .image-container {
        flex: 1;
        padding-right: 0;

        justify-content: center;
        align-items: center;
        text-align: center;

    }

    .section-image {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
    }

    /* Contenedor de texto */
    .text-container {
        flex: 2;
        display: flex;
        flex-direction: column;
        margin-top: 20px;

    }

    /* Botón "Leer más" */
    .btn-leer-mas {
        text-align: center;
        display: inline-block;
        padding: 10px 20px;
        margin-top: 20px;
        background-color: #4B4696;
        color: #ffffff;
        border-radius: 5px;
        text-decoration: none;
    }

    /* Contenedor principal */
    .actividad-detalle-contenedor {
        display: flex;
        flex-direction: column;

        margin: 20px;
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    /* Contenedor izquierdo */
    .actividad-detalle-contenedor-izquierdo {
        display: block;

    }



    /* Texto */
    .actividad-detalle-texto {
        width: 100%;
        flex-grow: 1;
        text-align: justify;
    }
    .actividad-detalle-imagen {
        /* display: block;  */
        max-width: none;
        float: none;

        margin: 0px 10px 0px 0px; /* Centra horizontalmente */
    }

    /* Carrusel */
    .actividad-detalle-carousel {
        margin-top: 20px;
        padding: 10px;
        background-color: #e0e0e0;
    }

    .carousel-inner {
        display: flex;
        flex-direction: column;
        transition: none;
    }

    .carousel-item {
        width: 100%;
        margin-bottom: 20px;
    }

    /* Ocultar los controles del carrusel en pantallas pequeñas */
    .carousel-control-prev,
    .carousel-control-next {
        display: none;
    }

    /* Opcional: Ajustar el tamaño de las imágenes */
    .carousel-item img {
        width: 100%;
        height: auto;
    }

    .nav-menu li:hover .dropdown-content {

        position: static;
        background-color: transparent;
        display: block;
    }

    .contenedor-contacto {
        flex-direction: column;
    }

    .columna.izquierda {
        border-right: none;
        border-bottom: 1px solid #ddd;
    }

    .contenedor-donaciones {
        flex-direction: column;
    }



}

@media (max-width: 500px) {
    .novedad {
        width: 100%;
        margin-bottom: 20px;
        min-height: 205px;
    }

    .novedad img {
        /* height: 250px; */
    }

    .novedad-texto,
    .novedad-publicacion-texto {
        font-size: 18px;
        padding: 10px;
    }

    .btn-leer-mas {
        padding: 8px 16px;
        font-size: 16px;
    }

    .bio-titulo {

        padding-top: 0px;
        text-align: center;
    }
    .bio-titulo h2{

        padding-top: 0px;
        text-align: center;
    }

    h1 {
        width: 100%;
        text-align: center;
        font-size: 3.5rem;
    }

    h2,
    h3 {
        width: 100%;
        text-align: left;
        font-size: 1.5rem;
    }

    h3 {
        width: 100%;

        text-align: center;
        font-size: 1rem;
    }

    .seccion-interna h1 {
        font-size: 3.5rem
    }

    .section-cv {
        display: flex;
        flex-direction: column;

        margin: 20px;
        padding: 10px;

    }

    .mosaico-cv {
        grid-template-columns: 1fr;
    }

    .cv-integrante {
        width: 100%;
    }

    .foto-circular {
        /* max-width: 100%; */
        margin: auto;
    }

    .bio-image {
        width: auto;
        height: auto;
        border-radius: 50%;
        object-fit: cover;
        margin: 5%;
        margin-right: 7%;
        background-color: white;
    }
    .bio-content {
display: inline;
        text-align: center;

    }
    
}